<html>
<head>
	<title>Supreme Size Selector - Settings</title>
	<link rel="stylesheet" type="text/css" href="css/options.css">
</head>
<body>

    <div id="email" style="width: 400px; margin-left:auto; margin-right:auto;">
	<label for="size">Your size</label>
        <select id="size" name="size" style="width:150px" tabindex="9">
			<option value="" disabled="disabled" selected="selected">-- Select your size --</option>
			<option value="" disabled="disabled">Shoes sizes</option>
			<option value="8">8</option>
			<option value="8.5">8.5</option>
			<option value="9">9</option>
			<option value="9.5">9.5</option>
			<option value="10">10</option>
			<option value="10.5">10.5</option>
			<option value="11">11</option>
			<option value="11.5">11.5</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="" disabled="disabled">Pants sizes</option>
			<option value="30">30</option>
			<option value="32">32</option>
			<option value="34">34</option>
			<option value="36">36</option>
			<option value="" disabled="disabled">Jackets/Coats/Shirts sizes</option>
			<option value="Small">Small</option>
			<option value="Medium">Medium</option>
			<option value="Large">Large</option>
			<option value="XLarge">XLarge</option>
		</select>
    </div> 

    <div id="buttons">
      <input id="commit-button" name="commit" tabindex="40" type="button" value="Save" />
	  <br />
    </div>

</body>
</html>
<script src='jquery-1.9.1.min.js'></script>
<script src='options.js'></script>